<div class="w-full flex justify-center">
  <div class="w-full flex flex-col items-center gap-2 max-w-lg">
    <span class="text-4xl">UI Module</span>
    <span class="text-2xl">Directives</span>

    <div class="flex">
      SVG Import test
      <svg uiIcon name="arrow-down-circle-solid" class="h-5 w-5"></svg>
    </div>

    <input uiInput label="Input Field"/>

    <span class="text-2xl">Components</span>

    <ui-select label="Dropdown Selector" [options]="['hello', 'world']" required></ui-select>

    <ui-date label="Date Selector"></ui-date>

  </div>

</div>
